.DS_Store
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
terraform.tfvars
*.zip
examples/**/.terraform/
examples/**/.terraform.lock.hcl
examples/**/terraform.tfstate
examples/**/terraform.tfstate.*
examples/**/terraform.tfvars
